.nv {
    background-color: red;
    display: inline-block;
    height: 15px;
    width: 15px;
  }
  .notFoundDiv {
    border-radius: 10px;
    background-color: #f2f2f2;
    color: rgb(124, 124, 124);
  }
  .cardDiv {
    // background-color: #f2f2f2;
    background:#EFC09F;
    
  }
  .cardpadding {
    padding: 5px;
    background-color: #f2f2f2;
  }
  