<div class="listofrecipe-main">
<div class="container " style="margin-top: 25px;">
    <div class="row" style="vertical-align: middle;" *ngIf="recipes.length > 0 ;else getZeroRecipe">
        <div class="col-sm-4" *ngFor="let recipe of recipes" style="margin-top: 15px;">
            <div class="card cardDiv" mouseOver style="padding: 15px;">

                <h3>
                    <!-- <img class="img-fluid" src="{{recipe.image}}" class="img-thumbnail" height="35px" width="45px"> -->
                     🥗 {{recipe.name}}
                </h3>
                  <!-- <img src="./assets/chef.jpg" class="img-thumbnail" height="30px" width="30px">  -->
                   <h5>👨🏻‍🍳  {{recipe.chef}}</h5>
                <img class="img-fluid" src="{{recipe.image}}" class="img-thumbnail" height="100%" width="100%">
                <div style="margin-top: 10px;" *ngIf="recipe.type === '&nbsp;&nbsp;Veg' else elseBlock">
                    <img src="./assets/veg.png" height="25px" width="25px">
                    <label style="color: darkgreen;">
                        {{recipe.type}}
                    </label>
                </div>
                <ng-template #elseBlock>
                    <div style="margin-top: 10px;">
                        <img src="./assets/non-veg.png" height="30px" width="30px">
                        <label style="color: darkred;">
                            {{recipe.type}}
                        </label>
                    </div>
                </ng-template>
                <hr>
                <p>{{recipe.description}}
                </p>
            </div>
        </div>
    </div>
    <ng-template #getZeroRecipe>
        <div class="row d-flex justify-content-center notFoundDiv" style="vertical-align: middle;">
            <img src="./assets/recipeNotFound.png" style="vertical-align: middle;" height="50%" width="50%">
        </div>
    </ng-template>
</div>
</div>









<!-- 
<div class="container-fluid content-row col-sm-6" style="max-width: 1200px; min-width: 400px;"
    *ngIf="recipes.length > 0 ;else getZeroRecipe">
    <div class="card-columns"
        style="background-color:rgba(0, 0, 0, 0.2); padding: 10px; margin-bottom: 10px; margin-top: 10px; margin : 10px">
        <div class="card" *ngFor="let recipe of recipes" mouseOver>
            <img src="{{recipe.image}}" class="card-img-top" alt="Cinque Terre">
            <div class="card-body">
                <h3>
                    <img class="img-fluid" src="{{recipe.image}}" class="img-thumbnail" height="40px" width="50px">
                    {{recipe.name}}
                </h3>
                <h5>
                    <img src="./assets/chef.jpg" class="img-thumbnail" height="30px" width="30px"> {{recipe.chef}}
                </h5>
                <img class="img-fluid" src="{{recipe.image}}" class="img-thumbnail" height="100%" width="100%">
                <div style="margin-top: 10px;" *ngIf="recipe.type === '&nbsp;&nbsp;Veg' else elseBlock">
                    <img src="./assets/veg.png" height="25px" width="25px">
                    <label style="color: darkgreen;">
                        &nbsp;&nbsp;{{recipe.type}}
                    </label>
                </div>
                <ng-template #elseBlock>
                    <div style="margin-top: 10px;">
                        <img src="./assets/non-veg.png" height="30px" width="30px">
                        <label style="color: darkred;">
                            &nbsp;{{recipe.type}}
                        </label>
                    </div>
                </ng-template>
                <hr>
                <p>{{recipe.description}}
                </p>
                <a href="#" class="btn btn-primary">Remove</a>
            </div>
        </div>

    </div>
</div>
<div>
    <ng-template #getZeroRecipe>
        <div class="row d-flex justify-content-center notFoundDiv" style="vertical-align: middle;">
            <img src="./assets/recipeNotFound.png" style="vertical-align: middle;" height="50%" width="50%">
        </div>
    </ng-template>
</div> -->