.notFoundDiv {
  border-radius: 10px;
  background-color: #f2f2f2;
  color: rgb(124, 124, 124);
}
.cardDiv {
  // padding: 5px;
  background-color: #f2f2f2;
}
.cardpadding {
  padding: 5px;
  background-color: #f2f2f2;
}
.geek {
}
.geek :hover {
  background-color: rgb(184, 241, 192);
}
