<div class="mainBody">
  <h2>Team Exception Recipes</h2>
  <form>
    <input type="text" class="ggg" name="name" placeholder="NAME" #name>
    <input type="text" class="ggg" name="description" placeholder="Chef" #chef>
    <input type="text" class="ggg" name="file" placeholder="Image URL" #imageUrl>
    <select class="ggg" name="category" style="height: 50px; border-radius: 0%;" #type>
      <option><label>&nbsp;&nbsp;Veg</label>
        <input type="radio" value="veg">
      </option>
      <option><label>&nbsp;&nbsp;Non-Veg</label>
        <input type="radio" value="non-veg">
      </option>
    </select>
    <input type="text" class="ggg" name="chef" placeholder="Description"#description>
    <div class="clearfix"></div>
    <input type="button" value="submit" name="register" (click)="onClickAddRecipe(name.value,chef.value,imageUrl.value,type.value,description.value)">
  </form>
</div>