<div class="card mb-3" style="width: 18rem;" appHighLight>
  <div class="card-body">
    <div style="margin-top: 10px;" *ngIf="recipe.complexity === 'Veg' else elseBlock">
      <img src="./assets/veg.png" height="25px" width="25px">
      <label style="color: darkgreen;"> </label>
    </div>
    <ng-template #elseBlock>
      <div style="margin-top: 10px;">
        <img src="./assets/non-veg.png" height="30px" width="30px">
        <label style="color: darkred;">
        </label>
      </div>
    </ng-template> 
    <h5 class="card-title" style="margin-top: 10px;">🥗 {{recipe.name}}
      <img class="img-fluid" style="margin-top: 10px;" src="{{recipe.photo}}" class="img-thumbnail" height="100%"
        width="100%">
    </h5>

    <p>👨‍🍳 {{recipe.firstName}} {{recipe.lastName}}</p>

    <input type="button" value="Favourite" name="signin" style="margin-top: 10px;"
      (click)="onClickFavourite(recipe.recipeId)">
  <hr>
</div>