<div class="card mb-3" style="width: 20rem;" appHighLight>
  <div class="card-body">
       <h4 class="card-title" style="margin-top: 10px;font-weight: bold;">🥗 {{recipe?.name}}
      <img class="img-fluid" style="margin-top: 10px;" src="{{recipe?.photo}}" class="img-thumbnail" height="100%"
        width="100%">
    </h4>
    <h5 style="font-weight: bold;">👨‍🍳 {{recipe?.firstName}} {{recipe?.lastName}}</h5>
    <div>
      <h5 class="card-title" style="margin-top: 10px;">Complexity : {{recipe?.complexity}}</h5>
      <h5 class="card-title" style="margin-top: 10px;">Serves : {{recipe?.serves}}</h5>
      <h5 class="card-title" style="margin-top: 10px;">Time : {{recipe?.preparationTime}}</h5>
    </div>
  
    <h5 class="card-title" style="margin-top: 10px; font-weight: bold;">🥗 Ingredients</h5>
    <div *ngIf="recipe?.ingredients.length > 0 ;else getZeroIngredients">
    <li *ngFor="let ingredient of recipe?.ingredients ,let i =index"style=" list-style-type: none;">
      <h6>{{ingredient['ingredient']}}</h6>
    </li>
  </div>
  <ng-template #getZeroIngredients>
    <h6>No Ingredients Found</h6>
</ng-template>
    <h5 class="card-title" style="margin-top: 10px; font-weight:  bold;">🥗 Instructions</h5>
    <div *ngIf="recipe?.instructions.length > 0 ;else getZeroInstructions">
    <li *ngFor="let instruction of recipe?.instructions  ,let i =index" style=" list-style-type: none;">
      <h6> {{instruction['instruction']}}</h6>
    </li>
    </div> 
    <ng-template #getZeroInstructions>
      <h6>No Instructions Found</h6>
  </ng-template> 
   
      <div style="margin-top: 18px;" class="overlay" *ngIf="recipe?.inCookingList === 0 else elseBlock">
      <a (click)="onClickFavourite()">  <img src="./assets/dislike.png" height="30px" width="30px"/></a>
      </div>
      <ng-template #elseBlock>
        <div style="margin-top: 18px;" class ="overlay">
          <a (click)="onClickRemoveFromFavourite()">   <img src="./assets/like.png" height="30px" width="30px"/></a>
        
        </div>
      </ng-template>  
  <hr>
</div>