.white {
    background-color: white;
}

.red {
    background-color: red;
}
.notFoundDiv {
    border-radius: 10px;
    background-color: #f2f2f2;
    color: rgb(124, 124, 124);
  }
  .cardDiv {
    background:#EFC09F;
    
  }
  .cardpadding {
    padding: 5px;
    background-color: #f2f2f2;
  }
  .overlay {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    z-index: 3;
    margin-right: 10px;
}