<div class="mainBody" style="width: 40rem;">
  <h2>Add New Recipe</h2>
  <form [formGroup]="recipeForm" (ngSubmit)="onClickAddRecipe()" enctype="multipart/form-data">

    <div class="form-group">
      <input class="form-control" type="text" class="ggg" name="recipeName" placeholder="Recipe Name"
        formControlName="recipeName">
      <span class="text-muted" *ngIf="recipeForm.get('recipeName').touched && !recipeForm.get('recipeName').valid">Enter
        Recipe Name</span>
    </div>

    <div class="form-group">
      <input class="form-control" type="number" class="ggg" name="noOfServes" placeholder="No of Serves"
        formControlName="noOfServes">
      <span class="text-muted" *ngIf="recipeForm.get('noOfServes').touched && 
          !recipeForm.get('noOfServes').valid && !recipeForm.get('noOfServes').errors['validNoOfServes']">Enter No Of
        Serves</span>
      <span class="text-muted" *ngIf="recipeForm.get('noOfServes').touched && 
          !recipeForm.get('noOfServes').valid && recipeForm.get('noOfServes').errors['validNoOfServes']">Enter Valid
        Data</span>
    </div>

    <div class="form-group">
      <input class="form-control" type="text" class="ggg" name="preprationTime" placeholder="Prepration Time"
        formControlName="preprationTime">
      <span class="text-muted"
        *ngIf="recipeForm.get('preprationTime').touched && 
        !recipeForm.get('preprationTime').valid && !recipeForm.get('preprationTime').errors['validRecipePreprationTime']">Enter
        PreprationTime</span>
      <span class="text-muted"
        *ngIf="recipeForm.get('preprationTime').touched && 
        !recipeForm.get('preprationTime').valid && recipeForm.get('preprationTime').errors['validRecipePreprationTime']">Enter Valid
        Prepration Time like '30 mins/hours/days'</span>
    </div>

    <select class="ggg" name="complexity" style="height: 50px; border-radius: 0%;color: black; "
      formControlName="complexity" required>
      <option selected><label>&nbsp;&nbsp;Easy</label>
        <input type="radio" value="Easy">
      </option>
      <option><label>&nbsp;&nbsp;Medium</label>
        <input type="radio" value="Medium">
      </option>
      <option><label>&nbsp;&nbsp;Complex</label>
        <input type="radio" value="Complex">
      </option>
    </select>

    <div class="form-group">
      <input class="form-control" type="text" class="ggg" name="youtubeURL" placeholder="YotubeURL link"
        formControlName="youtubeURL">
      <span class="text-muted" *ngIf="recipeForm.get('youtubeURL').touched && 
          !recipeForm.get('youtubeURL').valid && !recipeForm.get('youtubeURL').errors['validYouTubeUrl'] ">Enter
        Youtube URL</span>
      <span class="text-muted" *ngIf="recipeForm.get('youtubeURL').touched && 
          !recipeForm.get('youtubeURL').valid && recipeForm.get('youtubeURL').errors['validYouTubeUrl']">Enter Valid
        Youtube URL</span>
    </div>


    <div formArrayName="metatags">

      <input type="button" value="Add MetaTags" style="background-color: bisque; color: black; "
        (click)="addMetaTags()">

      <div *ngFor="let control of recipeForm.get('metatags').controls; let i = index">
        <input class="form-control" class="ggg" type="text" placeholder="Add Meta Tag" [formControlName]="i">
        <span class="text-muted"
          *ngIf="recipeForm.get('metatags').controls[i].touched && !recipeForm.get('metatags').controls[i].valid">Enter
          Tag</span>
      </div>
    </div>

    <div formArrayName="ingredients">
      <input type="button" value="Add Ingredients" style="background-color: bisque; color: black; "
        (click)="addIngredients()">

      <div *ngFor="let control of recipeForm.get('ingredients').controls; let i = index">
        <input class="form-control" class="ggg" type="text" placeholder="Add Ingredient" [formControlName]="i">
        <span class="text-muted"
          *ngIf="recipeForm.get('ingredients').controls[i].touched && !recipeForm.get('ingredients').controls[i].valid">Enter
          Ingredient</span>
      </div>
    </div>

    <div formArrayName="instructions">

      <input type="button" value="Add Instructions" style="background-color: bisque; color: black; "
        (click)="addInstructions()">

      <div *ngFor="let control of recipeForm.get('instructions').controls; let i = index">
        <input class="form-control" class="ggg" type="text" placeholder="Add Instructions" [formControlName]="i">
        <span class="text-muted"
          *ngIf="recipeForm.get('instructions').controls[i].touched && !recipeForm.get('instructions').controls[i].valid">Enter
          Instruction</span>
      </div>
    </div>


    <input class="ggg" type="file" (change)="onFileChanged($event)" style="margin-top: 10px;">
    <div class="clearfix"></div>
    <input type="button" value="submit" style="background-color: bisque; color: black; " (click)="onClickAddRecipe()">
  </form>
  <ng4-loading-spinner> </ng4-loading-spinner>
</div>