.txtFieldStyle {
  background-color: #e9f8ea;
  color: #1c6e34a9;
}

.headingDiv {
  border-radius: 10px;
  background-color: #4caf50;
  padding: 0px;
  width: max-content;
  height: 250px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
}
.formDiv {
  width: 90%;
  border-radius: 10px;
  background-color: #ffffff;
  color: rgb(124, 124, 124);
  font-family: Trebuchet MS, Helvetica, sans-serif;
}
div.image {
  width: 100%;
  content: url(https://images.wallpaperscraft.com/image/pizza_basil_cheese_tomato_paste_109592_1920x1080.jpg);
}
.text-mutedd{
  color: white;
}